---
layout: default
title: Blog
---
{% for post in site.posts %}
<div class="post">
  <h2 class="link">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
  <h5>
    Posted on {{ post.date | date: "%B %-d, %Y" }}{% if post.author %}, a guest post by {{ post.author }}{% endif %}
  </h5>
  <a href="{{ post.url }}">
    {% if post.image %}<img src="/file{{ post.url }}{{ post.image }}" class="postimage" alt="{{ post.title }}" />{% endif %}
  </a>
  {% assign description = post.content | split: '<!-- pagebreak -->' %}
  <p>{{ description[0] }}<p>
  <p>
    <a href="{{ post.url }}">Continue reading</a>
  </p>
</div>
{% endfor %}